<div class="bg-light">
    <div class="container py-5">

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow py-5 px-4">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-cube"></i></a></li>
                    <h5 class="mb-0">CATEGORY</h5><span class=" text-uppercase text-muted">{{totalCategory()}}</span>
                    <ul class="social mb-0 list-inline mt-3">


                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow py-5 px-4">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-user"></i></a></li>
                    <h5 class="mb-0">VISITORS</h5><span class=" text-uppercase text-muted">100</span>
                    <ul class="social mb-0 list-inline mt-3">


                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow py-5 px-4">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-user"></i></a></li>
                    <h5 class="mb-0">USERS</h5><span class=" text-uppercase text-muted">10</span>
                    <ul class="social mb-0 list-inline mt-3">

                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow py-5 px-4">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-cube"></i></a></li>
                    <h5 class="mb-0">POST</h5><span class="text-uppercase text-muted">{{totalPost()}}</span>
                    <ul class="social mb-0 list-inline mt-3">

                    </ul>
                </div>
            </div>
            <!-- End-->



        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <canvas id="myChart"></canvas>

            </div>

            <div class="col-md-6">
                <canvas id="myPieChart"></canvas>
            </div>

        </div>




    </div>
</div>
