<!-- <h1>test</h1>
<share-buttons theme="modern-light" show="1"></share-buttons>
<fa-icon [icon]="faCoffee"></fa-icon>

<share-buttons show="11"></share-buttons>

<share-buttons [theme]="'modern-dark'"
 [include]="['twitter','linkedin','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
 [show]="5"
 [url]="'https://twitter.com/'"
 [autoSetMeta]="false"
></share-buttons> -->
<div class="share-btn">
    <a class="btn-vk" data-id="vk">VK</a>
    <a class="btn-facebook" data-id="fb">Facebook</a>
    <a class="btn-twitter" data-id="tw">Twitter</a>
    <a class="btn-telegram" data-id="tg">Telegram</a>
    <a class="btn-mail" data-id="mail">EMail</a>
</div>